rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /layouts/{layoutId} { allow read, write: if true; }
    match /customLogos/{logoId} { allow read, write: if true; }
  }
}
